go 1.24

use (
	./account-service
	./auth-service
	./api-gateway
	./notification-service
	./credit-service
	./compliance-service
	./data-product-service
	./config-service
	./pkg/config
	./pkg/logging
)
